* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fa6d86;
    --blink-color: #ff994f;
    --secondary-color: #4d4a4ae5;
    --light-color: #f0d8ef;
    --dark-color: #181616;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: linear-gradient(#f4f4f4, #f4f4f4, #e4e3e3);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

/*above are also prebuilt*/
/* Navbar*/
.navbar {
    background: #f0d8ef;
    padding: 10px;
    position: sticky;
    overflow: hidden;
    top: 0;
}

.navbar .container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 50px;
    background: #f0d8ef;
}

.navbar .container-nav .logo a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar .container-nav .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.navbar .container-nav .logo a h3{
    color: var(--primary-color);
}
.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

/*all buttons with icon*/
/* .navbar ul li a i,
.hero .container .hero-content .hero-button a i {
    margin-right: 10px;
} */

.container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding-top: 5px; */
}

/*dashboard*/
.main-container {
    height: 100%;
    align-items: center;
    justify-content: center;
    /* padding-top: 5px; */
}
.inside{
    padding: 15px 50px 0 50px;
    align-content: center;
}
.main-container .inside .total{
    margin-left: 30px;
}

.block{
    display: block;
    width: 100%;
}
.main-container .profit1 .profit{ 
   gap: 70px;
    padding-top: 20px;
    justify-content: center;
    /* border: 1px solid red; */
    /* background: #2c0621; */
    /*border-radius: 10px;
    padding: 10px 20px;*/
    margin: auto;
    justify-content: center;
    /* color: #fff; */
}
.main-container .profit1 {
    width: 100%;
    border-bottom: 5px solid #691150;
    border-radius: 20px;
}

.table-container2 .crypto-table2 {
    max-width: 1000px;
    margin: auto;
    background: var(--light-color);
    border-radius: 15px;
    /* border-bottom: 5px solid #691150; */
}

.table-container2 .crypto-table2 .table-layout1{
    padding-top: 30px;
    gap: 300px;
    padding-left:40px; 
    border-bottom: 5px solid #691150;
    margin-top: 20px;
}


.table-container2 .table-layout2  .coin2{
    border-bottom: 5px solid #691150;
    border-radius: 20px;
}
.table-container2 .table-layout2 .coin2 img{
    width: 40px;
    margin: 15px 0 15px 15px;
}

.table-container2 .table-layout2 .coin2 .flex{
    gap: 300px;
    margin: 15px 0 15px 2px;
    margin-top: 25px;
}
.table-container2 .table-layout2 .coin2 .flex .name{
    display: flex;
    gap: 360px;
}
.table-container2 .table-layout2 .coin2 .price1 .name .balance{
    margin-left: -5px;
}
.table-container2 .table-layout2 .coin2 .price2 .name .balance {
    margin-left: -30px;
}
.table-container2 .table-layout2 .coin2 .price3 .name .balance {
    margin-left: 20px;
}
.table-container2 .table-layout2 .coin2 .price6 .name .balance {
    margin-left: -20px;
}
.table-container2 .table-layout2 .coin2 .price7 .name .balance {
    margin-left: 5px;
}
.table-container2 .table-layout2 .coin2 .price8 .name .balance {
    margin-left: 15px;
}



.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left #address{
    font-size: 0.8em;
    font-weight: bolder;
}
.contact-left #amount {
    font-size: 0.9em;
    font-weight: bolder;
}
.contact-left-title h2 {
    font-weight: 500px;
    color: #fa6d86;
    font-size: 30px;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 135px;
    height: 5px;
    background-color: #fa6d86;
    border-radius: 10px;
    margin-bottom: 20px;
}

.xe p {
    color: #fa6d86;
    padding-left: 50px;
    font-weight: bold;
}

.contact-input {
    width: 400px;
    height: 50px;
    border: 1px solid #6d5c83;
    outline: none;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 500px;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-input:focus {
    border: 2px solid #691150;
}

.contact-input::placeholder {
    color: #a9a9a9;
}


.contact-left button img {
    height: 10px;
    color: #4e2121;
} 

.contact-right img {
    width: 500px;
}

.contact-right p {
    background-color: #fff;
    color: #691150;
    font-size: 20px;
    width: 600px;
    border-radius: 10px;
}

/*Utility Classes pre-built*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*Cards*/
.card {
    background-color: #fff;
    color: #000;
    padding: 20px;
}

/*buttons*/
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50px;
}

.btn:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
}
.btn:hover img{
    color: var(--primary-color);
}
.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}
/*all button with icon*/
.btn i {
    margin-right: 5px;
}

/*text Utilities class*/
.text-xxl {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 30px 0 0px;
}

.text-xl {
    font-size: 2.2rem;
    font-weight: normal;
    line-height: 1.4;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.4;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.4;
    font-weight: bold;
    /* margin: 10px 0 10px; */
}

.text-sm {
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.4;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
/*Background*/
.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-light {
    background-color: var(--light-color);
    color: #333;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-black {
    background-color: black;
    color: #fff;
}

/*Hamburger Button*/
.hamburger-button {
    display: none;
    background-color:#fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: var(--primary-color);
    margin: 6px 0;
}

/*mobile Menu*/
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0px 10px rbg(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
    
}


.button-btn{
    margin: 10px;
    padding-top: 10px;
    justify-content: center;
}

/*Media Queries*/
@media (max-width: 960px) {
    .text-xxl {
        font-size: 2.3rem;
    }
}

@media (max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    /*text*/
    .text-xl {
        font-size: 1.6rem;
    }

    .text-lg {
        font-size: 1.4rem;
    }

    .text-md {
        font-size: 1rem;
    }

    .nav .container-nav{
        padding-left: 0;
    }
    .contact-input {
        width: 60vw;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--primary-color);
        color: var(--light-color);
        font-weight: 600;
        text-decoration: none;
        border: none;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;
        border-radius: 50px;
           }
    .contact-right {
        display: none;
    
    }
    .table-container .crypto-table {
            max-width: 10px;
            margin: auto;
            background: var(--light-color);
            border-radius: 15px;
            margin-top: 20px;
        }
   .crypto-table .table-layout {
            display: grid;
            grid-template-columns: 2fr;
            padding: 15px 20px;
            align-items: center;
            border-bottom: 5px solid #691150;
    
        }

.crypto-table .table-layout .coin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 14px;
    width: 310px;
    border: 1px solid #691150;
    /* padding: 10px 10px; */
    border-radius: 8px;
    /* padding-top: 30px; */
    }
.crypto-table .table-layout .coin .price1{
    display: inline-flex;
    gap: 80px;
    padding-top: 15px;
}
.crypto-table .table-layout .coin .price2 {
    display: inline-flex;
    gap: 60px;
    padding-top: 15px;
}
.crypto-table .table-layout .coin .price3 {
    display: inline-flex;
    gap: 100px;
    padding-top: 15px;
}
.crypto-table .table-layout .coin .price4 {
    display: inline-flex;
    gap: 75px;
    padding-top: 15px;
}
.crypto-table .table-layout .coin .price5 {
    display: inline-flex;
    gap: 80px;
    padding-top: 15px;
}
.crypto-table .table-layout .coin .price6{
    display: inline-flex;
    gap: 60px;
    padding-top: 15px;
}
.crypto-table .table-layout .coin .price7 {
    display: inline-flex;
    gap: 80px;
    padding-top: 15px;
}
.crypto-table .table-layout .coin .price8 {
    display: inline-flex;
    gap: 85px;
    padding-top: 15px;
}
.home2 .start h4{
    font-size: 1.5rem;
}
.home2 .start p{
    padding-bottom: 30px;
    font-size: 0.9rem;
}
.home2 .stock img{
    padding-top: 40px;
}
::placeholder{
    font-size: 0.8rem;
}
.conmargin {
    display:flex;
    flex-direction: column-reverse;
    /* width: 40px;
    height: 30px; */
    align-items: center;
    margin-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}
.conmargin .margin {
    width: 20px; 
    border: 1px solid #2c0621;
    background: #2c0621;
    border-radius: 30px;
    border-bottom: dashed #fff;

}
.conmargin .margin img{
    width: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
 }
 .conmargin .margin:nth-child(1) img{
    width: 200px;
 }
 .conmargin .margin h5{
    padding-bottom: 40px;
    color: var(--light-color);
 }
.conmargin1{
    margin-bottom: -230px;
}
 .home2 .start2{
    background: linear-gradient(#075094, #f0d8ef);
        width: 100%;
        height: 50px;
        margin-top: 50px;
        border-top-left-radius: 50% 20%;
        border-top-right-radius: 50% 20%;
        border-top: dashed #fff;
    }
    .table-container2{
       width: 140%;
       margin-left: -50px;
                   
    }
    .table-container2 .crypto-table2 .table-layout1{
    padding-top: 30px;
    gap: 120px;
    padding-left:40px; 
    border-bottom: 5px solid #691150;
    margin-top: 20px;
    }
    
    table-container2 .crypto-table2 {
    width: 100%;
    background: var(--light-color);
    /* border-bottom: 5px solid #691150; */
    }
    .table-container2 .table-layout2  .coin2{
    border-bottom: 5px solid #691150;
}
.table-container2 .table-layout2 .coin2 img{
    width: 50px;
    margin: 15px 0 15px 15px;
}
    
    .table-container2 .crypto-table2 .table-layout1 h3:nth-child(3) {
        display: none;
        }

        .table-container2 .table-layout2 .coin2 .flex {
            gap: 130px;
            margin: 15px 0 15px 2px;
            margin-top: 25px;
        }
          .table-container2 .table-layout2 .coin2 .flex .name h3:nth-child(2){
            display: none;
          }

        .footer .container-footer {
             padding-left: 0;
        }
                
        .main-history .history-container .history {
            gap: 150px;
            margin-bottom: 10px;
        }
    .main-user{
        justify-content: center;
    }

}
@media (max-width: 500px) {
    .text-xxl {
        font-size: 2rem;
    }
       
}

/* dashboard */
.home-hero{
   margin-top: -7px;
}
.hero{
    background-image: url("./asset/istockphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 515px;
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: #fff;
    padding-top: 100px;
}

.table-container .crypto-table{
    max-width: 900px;
    margin: auto;
    background: var(--light-color);
    border-radius: 15px;
    margin-top: 20px;
}
.crypto-table .table-layout1{
    border-bottom: 5px solid #691150;
    padding-top: 30px;
    padding-bottom: 10px;
}

.table-layout{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr; 
    padding: 15px 20px;
    align-items: center;
    border-bottom: 5px solid #691150;
    
}
.coin{
    /* display: flex; */
    align-items: center;
    font-size: 14px;
    margin: 15px 15px;
    border: 1px solid #691150;
    padding: 15px 10px;
    border-radius: 8px;
}
/* .crypto-table .table-layout .coin .price1 {
    padding-top: 15px;
} */

.coin img{
    width: 40px;
    margin-right: 15px;
}
.coin h3{
    color: #691150;
    margin-bottom: 5px;
}

.home2 .start{
    background: linear-gradient(#f0d8ef, #075094);
    width: 100%;
    height: 250px;
    margin-top: 50px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    border-bottom: dashed #fff;
}
.home2 .start h4{
    font-size: 2rem;
    padding-top: 1em;
}
.home2 .stock img{
    width: 60%;
    background: none;
    margin-top: -100px;
}
.conmargin{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 45px;
    justify-content: center;
    margin-top: 30px;
}
.conmargin .margin{
        width: 400px;
        border: 1px solid #2c0621;
        background: #2c0621;
        border-radius: 30px;
        border-bottom: dashed #fff;
       
}
 .conmargin .margin img{
    width: 300px;
    padding-top: 50px;
    padding-bottom: 30px;
 }
 .conmargin .margin:nth-child(1) img{
    width: 200px;
 }
 .conmargin .margin h5{
    padding-bottom: 40px;
    color: var(--light-color);
 }
.conmargin1{
    margin-bottom: -250px;
}
 .home2 .start2{
    background: linear-gradient(#075094, #f0d8ef);
        width: 100%;
        height: 250px;
        margin-top: 50px;
        border-top-left-radius: 50% 20%;
        border-top-right-radius: 50% 20%;
        border-top: dashed #fff;
    }

.before-footer{
    background-image: url("./asset/ab097543a6d40ce15272.png");
    background-size: cover;
    height: 250px;
    width: 100%;
    color: #fff;
}
.before-footer .before-content{
    padding-top: 60px;
}
.footer{
    width: 100%;
    height: 50px;
    margin-top: 20px;
   
}
.footer .container-footer{
    /* padding-left: 130px; */
    text-align: center;
    justify-content: center;
}


/* history */
.main-user{
    /*margin: 70px;*/
    margin-top: 50px;
    margin-bottom: 20px;
   
}
.main-user .user-container .user{
    border-bottom: 2px solid #fa6d86;
    width: 300px;
    border-radius: 20px;
    padding-left: 10px;
}
.main-user .user-container .user img{
    width: 50px;
    height: 50px;
    border: 1px solid #fa6d86;
    border-radius: 50px;
   
}

.main-history {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.main-history .history-container .history{
    gap: 200px;
    margin-bottom: 10px;
}
.withdraw{
    color: red;
}
.deposit{
    color: green;
}
.main-history .history-container hr{
    border: none;
    width: 135px;
    height: 5px;
    background-color: #fa6d86;
    border-radius: 10px;
    margin-bottom: 20px;
}
.main-history .history-container h2 {
    font-weight: 600px;
    color: #fa6d86;
    font-size: 30px;
    margin-bottom: 5px;
}
.footer2{
    background: #f0d8ef;
    padding: 5px;
    position: sticky;
    overflow: hidden;
    bottom: 0;
}


.page__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    color: #fff;
    letter-spacing: 5px;
    font-size: 2.6em;
    margin-bottom: 30px;
    padding: 0px 15px;
}

.accordion {
    max-width: 700px;
    width: calc(100% - 20px);
}

details {
    background-color: var(--light-color);
    margin-bottom: 10px;
    filter: drop-shadow(5px 5px 0px #691150);
}

details:hover {
    filter: drop-shadow(5px 5px 4px #0A0A0A);
}

details>summary {
    color: #0A0A0A;
    padding: 10px 10px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bolder;
    width: 400px;
}

details>p {
    padding: 5px 10px 10px 20px;
    color: #0a0a0a;
    font-size: 0.9em;
    font-weight: bolder;
}



#toastBox {
    position: absolute;
    bottom: 190px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.toast {
    width: 400px;
    height: 60px;
    background: #fff;
    font-weight: 500px;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft {
    100% {
        transform: translateX(0);
    }

}

.toast i {
    margin: 0 20px;
    font-size: 35px;
    color: green;
}

.toast.error i {
    color: red;
}

.toast.invalid i {
    color: orange;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: green;
    animation: anim 5.5s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }

}

.toast.error::after {
    background: red;
}

.toast.invalid::after {
    background: orange;
}





  /* Sliding Squares Loading Spinner
     Inspired by https://www.uplabs.com/posts/slidin-squares-loader by Vitaly Silkin 
     Implemented in CSS by Tom Adey */

 
  #container{
    height: 92lvh;
    background: linear-gradient(#f4f4f4, #f4f4f4, #e4e3e3);
    margin-top: 0;
  }
.loader .footer{
    margin-top: 0;
}
  .loader #container{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .loadingspinner {
      --square: 26px;
      --offset: 30px;

      --duration: 2.4s;
      --delay: 0.2s;
      --timing-function: ease-in-out;

      --in-duration: 0.4s;
      --in-delay: 0.1s;
      --in-timing-function: ease-out;

      width: calc(3 * var(--offset) + var(--square));
      height: calc(2 * var(--offset) + var(--square));
      padding: 0px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 30px;
      position: relative;
  }

  .loadingspinner div {
      display: inline-block;
      background:  #691150;
      /*background: var(--text-color);*/
      /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
      border: none;
      border-radius: 2px;
      width: var(--square);
      height: var(--square);
      position: absolute;
      padding: 0px;
      margin: 0px;
      font-size: 6pt;
      color: black;
  }

  .loadingspinner #square1 {
      left: calc(0 * var(--offset));
      top: calc(0 * var(--offset));
      animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
          squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
  }

  .loadingspinner #square2 {
      left: calc(0 * var(--offset));
      top: calc(1 * var(--offset));
      animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
          squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
  }

  .loadingspinner #square3 {
      left: calc(1 * var(--offset));
      top: calc(1 * var(--offset));
      animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
          squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
  }

  .loadingspinner #square4 {
      left: calc(2 * var(--offset));
      top: calc(1 * var(--offset));
      animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
          squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
  }

  .loadingspinner #square5 {
      left: calc(3 * var(--offset));
      top: calc(1 * var(--offset));
      animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
          squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
  }

  @keyframes square1 {
      0% {
          left: calc(0 * var(--offset));
          top: calc(0 * var(--offset));
      }

      8.333% {
          left: calc(0 * var(--offset));
          top: calc(1 * var(--offset));
      }

      100% {
          left: calc(0 * var(--offset));
          top: calc(1 * var(--offset));
      }
  }

  @keyframes square2 {
      0% {
          left: calc(0 * var(--offset));
          top: calc(1 * var(--offset));
      }

      8.333% {
          left: calc(0 * var(--offset));
          top: calc(2 * var(--offset));
      }

      16.67% {
          left: calc(1 * var(--offset));
          top: calc(2 * var(--offset));
      }

      25.00% {
          left: calc(1 * var(--offset));
          top: calc(1 * var(--offset));
      }

      83.33% {
          left: calc(1 * var(--offset));
          top: calc(1 * var(--offset));
      }

      91.67% {
          left: calc(1 * var(--offset));
          top: calc(0 * var(--offset));
      }

      100% {
          left: calc(0 * var(--offset));
          top: calc(0 * var(--offset));
      }
  }

  @keyframes square3 {

      0%,
      100% {
          left: calc(1 * var(--offset));
          top: calc(1 * var(--offset));
      }

      16.67% {
          left: calc(1 * var(--offset));
          top: calc(1 * var(--offset));
      }

      25.00% {
          left: calc(1 * var(--offset));
          top: calc(0 * var(--offset));
      }

      33.33% {
          left: calc(2 * var(--offset));
          top: calc(0 * var(--offset));
      }

      41.67% {
          left: calc(2 * var(--offset));
          top: calc(1 * var(--offset));
      }

      66.67% {
          left: calc(2 * var(--offset));
          top: calc(1 * var(--offset));
      }

      75.00% {
          left: calc(2 * var(--offset));
          top: calc(2 * var(--offset));
      }

      83.33% {
          left: calc(1 * var(--offset));
          top: calc(2 * var(--offset));
      }

      91.67% {
          left: calc(1 * var(--offset));
          top: calc(1 * var(--offset));
      }
  }

  @keyframes square4 {
      0% {
          left: calc(2 * var(--offset));
          top: calc(1 * var(--offset));
      }

      33.33% {
          left: calc(2 * var(--offset));
          top: calc(1 * var(--offset));
      }

      41.67% {
          left: calc(2 * var(--offset));
          top: calc(2 * var(--offset));
      }

      50.00% {
          left: calc(3 * var(--offset));
          top: calc(2 * var(--offset));
      }

      58.33% {
          left: calc(3 * var(--offset));
          top: calc(1 * var(--offset));
      }

      100% {
          left: calc(3 * var(--offset));
          top: calc(1 * var(--offset));
      }
  }

  @keyframes square5 {
      0% {
          left: calc(3 * var(--offset));
          top: calc(1 * var(--offset));
      }

      50.00% {
          left: calc(3 * var(--offset));
          top: calc(1 * var(--offset));
      }

      58.33% {
          left: calc(3 * var(--offset));
          top: calc(0 * var(--offset));
      }

      66.67% {
          left: calc(2 * var(--offset));
          top: calc(0 * var(--offset));
      }

      75.00% {
          left: calc(2 * var(--offset));
          top: calc(1 * var(--offset));
      }

      100% {
          left: calc(2 * var(--offset));
          top: calc(1 * var(--offset));
      }
  }

  @keyframes squarefadein {
      0% {
          transform: scale(0.75);
          opacity: 0.0;
      }

      100% {
          transform: scale(1.0);
          opacity: 1.0;
      }
  }
